* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #12181B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1em;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.tile {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.tile:hover {
    background-color: #1F2A30;
    transform: scale(1.05);
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    margin-top: 1em;
}

.controls button {
    background-color: #FF3860;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.controls button:hover {
    background-color: #FF4B6C;
}
